@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.header-section {
    height: 100px;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    gap: 5%;
}

.logo-container h1 {
    display: flex;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    color: #e50913;
    margin-bottom: 40px;
    font-size: 3rem;
    font-weight: 800;
}

.logo-container:hover {
    cursor: pointer;
}

.fa-film {
    color: #e50913;
}

.navigation {
    display: flex;
    flex-direction: row;
}

.navigation h3 {
    display: flex;
    align-items: center;
    color: white;
    font-weight: 700;
    padding: 15px;
}

.navigation h3:hover {
    cursor: pointer;
}

.sign-in {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 5%;
    flex-grow: 1;
}

.sign-in-button {
    height: 2.5rem;
    width: 6rem;
    font-size: 120%;
    font-weight: 550;
    background-color: #e50913;
    color: #fff;
    border: none;
    border-radius: 8px;
}

.sign-in-button:hover {
    cursor: pointer;
}

.options-button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    height: 2.5rem;
    width: 6rem;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 120%;
}

.options-button:hover {
    cursor: pointer;
}

.fa-sort-down {
    height: 30px;
    margin-top: 2px;
    margin-left: 3px;
}

.fa-fire {
    padding-left: 5px;
    background: -webkit-linear-gradient( rgb(255, 208, 0),rgb(255, 145, 0), rgb(255, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hidden-form {
    display: none;
}

