@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.header-section {
    height: 100px;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    gap: 5%;
}

.logo-container h1 {
    font-family: 'Oswald', sans-serif;
    color: #e50913;
    margin-bottom: 40px;
    font-size: 3rem;
    font-weight: 400;
}

.navigation {
    display: flex;
    flex-direction: row;
}

.navigation h3 {
    color: white;
    font-weight: 400;
    padding: 15px;
}

.sign-in {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 5%;
    flex-grow: 1;
}

.sign-in-button {
    height: 2.5rem;
    width: 6rem;
    font-size: 120%;
    font-weight: 550;
    background-color: #e50913;
    color: #fff;
    border: none;
    border-radius: 8px;
}

.options-button {
    color: #fff;
    height: 2.5rem;
    width: 6rem;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 120%;
}