.background {
    flex-grow: 1;
    position: relative;
}

.hero-image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    filter: brightness(.5);
    width: 100%;
    height: 100%;
    background-image: url('../Images/movies_background.png');
    z-index: -5;
}

.top-gradient {
    height: 20vh;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    
}

.bottom-gradient {
    height: 20vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.hero-search-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.search-box {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
    color: #fff;
    text-align: center;
}

.search-box h1 {
    margin: 0 0 0 0;
}

.search-box form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.search-box input {
    height: 48px;
    width: 75%;
    outline: 1px solid #fff;
    border: none;
    padding-left: 10px;
    border-radius: 3px 3px 3px 3px;
    font-size: 1.1rem;
}
.search-box input:focus {
    outline: 1px solid #e50913;
}

.search-box button {
    flex-grow: 1;
    height: 52px;
    width: max-content;
    border: none;
    margin-left: 2px;
    border-radius: 3px 3px 3px 3px ;
    background-color: #e50913;
    color: #fff;
    font-size: 25px;
    font-weight: 650;
}


