.background {
    flex-grow: 1;
    position: relative;
    width: 100%;
}

.hero-image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    filter: brightness(.5);
    width: 100%;
    height: 100%;
    background-image: url('../Images/movies_background.png');
    z-index: -5;
    box-shadow: 0px 0px 35px 45px rgba(0, 0, 0, 1) inset;
}

.top-gradient {
    height: 7vh;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    
}

.bottom-gradient {
    height: 7vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.hero-search-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    animation: hero-section-load 900ms;
}

.search-box {
    width: 570px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
    color: #fff;
    text-align: center;
}

.search-box h1 {
    margin: 0 0 0 0;
}

 .form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 75px;
}

.form input {
    height: 48px;
    width: 500px;
    outline: 1px solid #fff;
    border: none;
    padding-left: 10px;
    border-radius: 3px 3px 3px 3px;
    font-size: 1.1rem;
}
.form input:focus {
    outline: 1px solid #e50913;
}

.form button {
   padding: 0 25px 0 25px;
    height: 52px;
    width: max-content;
    border: none;
    margin-left: 2px;
    border-radius: 3px 3px 3px 3px ;
    background-color: #e50913;
    color: #fff;
    font-size: 25px;
    font-weight: 650;
}

.form button:hover {
    cursor: pointer;
}

@keyframes hero-section-load {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @media only screen and (max-width:825px) {

        .hero-search-overlay h1 {
            font-size: 35px;
            margin-bottom: 25px;
        }

        .form {
            flex-direction: column;
            gap: 10px;
        }

        .form input {
            width: 80%;
        }

        .search-box {
            width: 100%;
        }
  }
