.movie-info-page {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.movie-info-container {
    height: 100%;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    display: flex;
    flex-direction: row;
}

.movie-info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    color: white;
    animation: slideInRight 1s;
}

.movie-info-box h1 {
    margin: 0;
}

.rating-date-language {
    display: flex;
    align-items: center;
    gap: 8px;
}

.overview-title-and-text h4 {
    font-size: 25px;
    margin: 0;
    margin-top: 50px;
}

.overview-title-and-text p {
    margin-top: 8px;
}

.circle {
    background-color: white;
    height: 5px;
    width: 5px;
    border-radius: 50%;
}

 .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 45%;
    animation: slideInLeft 1s; 
}

img {
    box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.75);
    border-radius: 8px;
    overflow: hidden;
}

.back-to-search {
    display: flex;
    align-items: center;
    height: 12%;
    position: absolute;
    color: white;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-550px)
    }

    to {
        transform: translateY(0)
    }

}

@keyframes slideInRight {
    from {
        transform: translateX(550px)
    }

    to {
        transform: translateY(0)
    }

}


