.movie-info-page {
    height: 100%;
    width: 100%;
}

.movie-info-container {
    height: 100%;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    display: flex;
    flex-direction: row;
}

.movie-info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    color: white;
}

.rating-date-language {
    display: flex;
    align-items: center;
    gap: 8px;
}

.circle {
    background-color: white;
    height: 5px;
    width: 5px;
    border-radius: 50%;
}

 .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 45%;
    
}

img {
    box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.75);
    border-radius: 8px;
    overflow: hidden;
}

.back-to-search {
    display: flex;
    align-items: center;
    height: 12%;
    position: absolute;
    color: white;
}


