.search-results-display {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 244px;
    width: 10rem;
    font-size: .6rem;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 4px;
    margin-top: 1rem;
    margin-left: .5rem;
}

.search-results-display img {
    height: 100%;
}