.search-results-display {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    width: 10rem;
    font-size: .6rem;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 4px;
    margin-top: .5rem;
    margin-left: .5rem;
}

.search-results-display h1 {
    text-align: center;
    color: #fff;
}