.movie-card {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 244px;
    width: 10rem;
    font-size: .6rem;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 4px;
    margin-top: 1rem;
    margin-left: .5rem;
    animation: movie-card-load 900ms;
}

.movie-card img {
 height: 100%;
 object-fit: cover;
}

.movie-over {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6);
  color: #ffffff;
  opacity: 0;
  transition: opacity 0.25s;
}

.movie-over:hover {
  opacity: 1;
  cursor: pointer;
}

.movie-over h2, .movie-over h3 {
  font-size: 18px;
}

@keyframes movie-card-load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.titleRatingContainer {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  flex-direction: column;
}

.view-button-container button {
  height: 1.5rem;
  width: 6rem;
  font-size: 15px;
  font-weight: 550;
  background-color: #e50913;
  color: #fff;
  border: none;
  border-radius: 8px;
  margin-bottom: 20px;
}




  