.movie-card {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 244px;
    width: 10rem;
    font-size: .6rem;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 4px;
    margin-top: 1rem;
    margin-left: .5rem;
    color: wheat;
}

.movie-card img {
 height: 100%;
 object-fit: cover;
}

.movie-over {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  color: #ffffff;
  opacity: 0;
}

.movie-over:hover {
  opacity: 1;
}

.movie-over h2 {
  font-size: 18px;
}

.movie-over h3 {
  font-size: 18px;
}



  