body {
   
    position: absolute;
    width: 100vw;
}

#root {
    width: 100%;
}

.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.search-cards-outer, .trending-cards-outer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.trending-cards-container, .search-cards-container {
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 100%;
    gap: 10px;
    width: 100%;
}

.search-cards-outer p {
    background-color: rgba(0, 0, 0, 1);
    color: white;
    margin: 0;
}

.trending-cards-outer p {
    background-color: rgba(0, 0, 0, 1);
    color: white;
    margin: 0;
}



