body {
    position: absolute;
    width: 100%;
    overflow-x: hidden;
}

#root {
    width: 100%;
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.search-cards-outer, .trending-cards-outer {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 82vh;
}

.trending-cards-container, .search-cards-container {
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    min-height: 82vh;
    gap: 10px;
    width: 100%;
}

.results-and-back-btn {
    height: 6vh;
    display: flex;
    align-items: center;
    gap: 50px;
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
    padding-left: 25px;
}

.go-back-btn {
    color: #fff;
    animation: transitionIn 1000ms;
    animation-delay: 250ms;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    animation-fill-mode: forwards;
    font-weight: 600;
    transition: 500ms;
}

.go-back-btn:hover {
    cursor: pointer;
    background-color: rgb(83, 83, 83);
}



