.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.results-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    
}